.App {
  text-align: center;
}
.mobile-devices {
  display: none;
}

@media screen and (max-width: 640px) {
  .mobile-devices {
    display: block;
    margin: 150px 20px;
    text-align: center;
  }
  .mobile-devices img {
    width: 30%;
  }
  .mobile-devices h1 {
    color: rgb(165, 160, 160);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 40px;
  }
}
