.node {
  width: 27px;
  height: 27px;
  /* border: solid rgb(175, 216, 248);
  border-width: 0.1px; */
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}

.node-start {
  animation-name: nodeWeightAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-finish {
  animation-name: nodeWeightAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.finish-icon {
  stroke: rgb(3, 29, 54);
  stroke-width: 1.5;
  padding: 1px 0 2px 1px;
}

.start-icon {
  transform: scale(1.5);
  stroke: rgb(3, 29, 54);
  stroke-width: 1.5;
  padding: 1px 0 2px 1px;
}
.weight-icon {
  width: 20px;
  height: 20px;
  outline: none;

  color: rgb(62, 6, 88);
  padding: 1px 0 8.7px 1px;
  margin: 0;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}
.node-weight {
  animation-name: nodeWeightAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes nodeWeightAnimation {
  0% {
    transform: scale(0.6);
    background-color: white;
  }

  50% {
    transform: scale(1.1);
    background-color: white;
  }

  100% {
    transform: scale(1);
    background-color: white;
  }
}
.node-wall {
  /* border: 1px solid rgb(12, 53, 71) !important; */
  /* border-width: 0.1px !important; */

  animation-name: nodeWallAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  /* animation-direction: alternate; */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes nodeWallAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  /* animation-direction: alternate; */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
